@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset layout for full control by Tailwind */
html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Inter, system-ui, sans-serif;
  background-color: #f9fafb;
}